*{
    padding: 0;
    margin: 0;
}

#adminlogin{
    width: 500px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    display: block;
    background-color: #333;
    padding-top: 20px;
    text-align: center;
    transition: 0.5s;
}
#adminlogin input{
    width: 300px;
    color: black;
    background-color: #fff!important;
    padding: 12px 20px;
    border-radius: 0px;
    margin-bottom: 20px;
    border: 1px solid black;
    font-size: 15px;
    font-weight: 400;}
#adminlogin input[type="submit"] {
    display: block;
    width: 100px;
    padding: 10px 30px;
    margin-left: 20%;
    color: black!important;
    background-color: #fff!important;
    font-weight: 600;
    cursor: pointer;
}

/* home */

/* Place detail */

